<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HighTech | Todos podem</title>
    <link rel="shortcut icon" href="../img/logoGuia.png" type="image/x-icon">    
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <a href="../../index.html"><img src="../img/logo.png" class="logo"></a>
    
        <nav class="nav-header">
            <ul>
                <li class="dropdown dropbtn">
                    
                    <div class="fitnessNav">Projeto</div>
                    <div class="dropdown-content">
                        <a href="modelagemIntro.html">• Modelagem e Intro</a>
                        <a href="escopo.html">• Escopo</a>
                        <a href="analise.html">• Análise de requisitos <br> no ambiente de teste</a>
                    </div>
                </li>
                <li class="dropdown dropbtn">
                    
                    <div class="fitnessNav">Pesquisas</div>
                    <div class="dropdown-content">
                        <a href="desenhoUniversal.html">• Desenho Universal </a>
                        <a href="deficiencia.html">• Deficiência</a>
                        <a href="inclusao.html">• Inclusão </a>
                        <a href="acessibilidade.html">• Acessibilidade</a>
                        <a href="estudoDeViabilidade.html">• Estudo de viabilidade</a>
                        <a href="tecnologiasAssistivas.html">• Tecnologias Assistivas</a>

                    </div>
                </li>
            
                <li id="menu-margem"><a href="quemsomos.html">Quem somos</a></li>
            </ul>
        </nav>
    </header>
    <div class="faixa"></div>
    <div class="paginasPesquisa">

             
            <div class="tituloDaAba">
                Acessibilidade
            </div>

            <div class="imagens">
             <img src="../img/acessibilidadeIcone.jpg" alt="" width="300">
             </div>
             
            <div class="caixaDeTexto">
                <h3>O que é acessibilidade?</h3>
                <br>
                De acordo com uma definição do Governo Federal, acessibilidade significa incluir pessoas com deficiência na participação de diferentes atividades como o uso de produtos, serviços e informações. Mas a acessibilidade vai além disso. Além de promover a independência de pessoas com deficiência, a acessibilidade beneficia muita gente. Quer saber como?
                Se estamos carregando uma mala pesada e ao invés de usar as escadas usamos a rampa, isso é acessibilidade. Se assistimos um vídeo e estamos impossibilitados de ouví-lo com áudio, seja por alguma questão técnica ou por estar no transporte público sem fones de ouvido, e ele possui legendas, isso também é acessibilidade.
                <br><br>             
                <h3>Quais são os tipos de acessibilidade?</h3><br>
                Já demos alguns exemplos simples de acessibilidade, mas agora vamos falar sobre os tipos que existem e o que cada um deles significa.
                <br><br> 
                <h4>1. Acessibilidade atitudinal:</h4>
                Acessibilidade atitudinal diz respeito às ações que tomamos como indivíduos para diminuir as barreiras entre as pessoas com deficiência e sem deficiência. É se colocar minimamente no lugar do outro, pensar e realizar ações que promovam um mundo mais justo e inclusivo para todas as pessoas. 
                <br><br> 
                <h4>2. Acessibilidade arquitetônica:</h4>
                A acessibilidade arquitetônica está relacionada aos recursos que permitam a locomoção de pessoas com deficiência física ou mobilidade reduzida, em qualquer espaço com autonomia. 
                <br><br> 
                <h4>3. Acessibilidade metodológica:</h4>
                A acessibilidade metodológica também conhecida como acessibilidade pedagógica envolve a diversificação de metodologias e técnicas para viabilizar total acesso de pessoas com deficiência à educação.
                <br><br> 
                <h4>4. Acessibilidade programática:</h4>
                A acessibilidade programática está justamente ligada à sensibilização, conscientização e aplicação dessas normas, decretos, regulamentações, leis e políticas públicas que respeitam as necessidades das pessoas com deficiência. 
                <br><br> 
                <h4>5. Acessibilidade instrumental:</h4>
                O objetivo da acessibilidade instrumental é superar barreiras no uso de utensílios e ferramentas que são necessárias no desenvolvimento de atividades escolares, profissionais, de recreação e até mesmo de lazer. 
                <br><br> 
                <h4>6. Acessibilidade nos transportes:</h4>
                A acessibilidade nos transportes não diz respeito apenas aos assentos preferenciais nos meios de transporte, mas em todo o processo que a pessoa realiza para fazer a sua viagem.
                <br><br> 
                <h4>7. Acessibilidade nas comunicações:</h4>
                Tornar as comunicações de fácil entendimento para o maior número de pessoas possível é o objetivo desse tipo de acessibilidade. 
                <br><br> 
                <h4>8. Acessibilidade digital:</h4>
                Por conta do avanço acelerado da tecnologia e da presença cada vez maior das pessoas nas redes sociais, que transformou a forma como nos relacionamos atualmente, a acessibilidade digital é um dos tipos de acessibilidade mais discutidos e exigidos nos últimos anos. Ainda assim, pesquisas revelam que menos de 1% dos sites está acessível para pessoas com deficiência.
                <br><br> 
                <h4>9. Acessibilidade natural:</h4>
                A acessibilidade natural tem como missão quebrar barreiras que a própria natureza produz. 
                <br><br>
                <h3>Quais os exemplos de acessibilidade?:</h3>
                Explicamos os diferentes tipos de acessibilidade e até contamos algumas situações em que esses tipos de acessibilidade acontecem, mas listamos aqui algumas ferramentas bem comuns. 
                <br><br> 
                <h4>Audiodescrição:</h4>
                Essa é uma solução muito utilizada por pessoas com deficiência visual para entender o contexto de um conteúdo que está sendo exibido. Seja na televisão, vídeos da internet ou em eventos presenciais, os audiodescritores – profissionais especializados nessa área – passam através de suas vozes o que está acontecendo em determinado cenário.
                <br><br> 
                <h4>Audiolivros:</h4>
                Conhecidos também como audiobooks, essa solução nada mais é que a gravação de conteúdos de livros de forma narrada em voz alta dentro de um estúdio ou em um ambiente que possua equipamentos para essa finalidade.
                <br><br>
                <h4>Elevador:</h4>
                Com a missão de garantir uma locomoção mais eficiente, tornando os locais mais funcionais e proporcionando o direito de ir e vir de forma plena, os elevadores têm um grande papel na inclusão social. Por meio deles, pessoas com deficiência física possuem mais autonomia e qualidade de vida, podendo circular em diferentes pavimentos e usufruir de espaços como os demais usuários.
                <br><br> 
                <h4>Legendas closed caption:</h4>
                Resumindo de forma simples, as legendas ou closed captions (CC) são a tradução em texto da fala de personagens que estão em um conteúdo audiovisual.  Elas são um dos recursos de acessibilidade mais universal que existem. Isso porque beneficiam tanto pessoas surdas ou com deficiência auditiva que dependem desta ferramenta para entender conteúdos que contenham áudio, como pessoas sem deficiência em diferentes cenários.
                <br><br> 
                <h4>Leitor de tela e ampliador de texto:</h4>
                Os leitores de tela são ferramentas que capturam informações apresentadas em forma de texto e transformam em uma resposta de áudio por meio de sintetizadores de voz. Eles fazem uma varredura e buscam essas informações que podem ser lidas para o usuário, possibilitando a navegação por menus, janelas e textos. Imprescindível para pessoas cegas e com diferentes deficiências visuais, hoje é possível encontrar esse recurso nativo em diferentes modelos de smartphones. 
                <br><br> 
                <h4>Libras:</h4>
                Segundo a Federação Mundial dos Surdos, 80% das pessoas surdas no mundo não são fluentes nas línguas escritas e dependem das Línguas de Sinais para obter informação. Essa é a figura que também encontramos aqui no Brasil. A Libras é a língua materna da maioria das pessoas surdas. Além de ser uma forma de comunicação é muitas vezes uma expressão cultural, uma identidade dessas pessoas. A Libras é reconhecida como idioma em nosso país desde 2002 por meio da Lei nº 10.436.
                <br><br>
                <h4>Linha Braille:</h4>
                Para pessoas surdocegas, a Linha Braille ou Display Braille é a única maneira de ter acesso a dispositivos móveis ou computadores para navegar na internet e se comunicar, mas existem pessoas com outras deficiências visuais que também podem usufruir de um aparelho como esse. A Linha Braille é uma espécie de mistura entre computador e máquina braille, que é capaz de converter instantaneamente, com pontos em alto relevo, textos ou dados de telas de tablets, computadores e celulares.
                <br><br> 
                <h4>Piso tátil:</h4>
                Esse piso pode não fazer muita diferença para pessoas videntes, mas para pessoas com deficiência visual e baixa visão ele representa independência na locomoção. Piso tátil, piso podotátil, superfície tátil ou pavimento tátil são faixas com relevos aplicadas no chão que auxiliam na locomoção e compreensão de onde se está circulando.
                <br><br> 
                <h4>Rampas de acesso:</h4>
                ​As rampas de acesso são adaptações em locais públicos e privados que auxiliam na circulação de pessoas que utilizam cadeiras de rodas, possuem mobilidade reduzida ou qualquer questão física que as impossibilitem de subirem escadas, por exemplo. Elas também são comumente encontradas em calçadas e lugares que necessitem de deslocamento em diferentes níveis, como em estações de metrô. 
                <br><br> 
                <h4>Vagas de estacionamento:</h4>
                Por meio da Lei 10.098/00, as pessoas com deficiência tiveram direito a vagas exclusivas em vias e estacionamentos. Estas devem ser próximas dos acessos de circulação de pedestres e estarem devidamente sinalizadas.
                <br><br>
                <h3>Conclusão</h3>
                <br>
                Como pudemos observar, existem diversos recursos e soluções que foram criados para promover o acesso de pessoas com deficiência em mais espaços, sejam eles físicos ou virtuais. Eles inclusive são garantidos por meio de diferentes leis.
                Ainda estamos longe do cenário ideal, mas seguimos avançando. Para construirmos um mundo melhor para todos, pessoas com deficiência ou não precisam prestar atenção se esses direitos estão sendo assegurados. Cada um de nós também precisa fazer a sua parte e ela começa com o respeito!
                <br><br>
                <h4>Referências bibliográficas:</h4>
                BERTAGLIA, Rosi. Acessibilidade: exemplos, tipos e como se enquadrar às normas?.Hand Talk. Disponível em: https://www.handtalk.me/br/blog/acessibilidade-exemplos/. Acesso em: 21 Março 2024.
                <br><br>
            </div>
   

    </div>
    <footer>
        <p> Todos os direitos reservados a HighTech ©</p>
    </footer>

    <section class="arrobasInstas">
       <center><div> 
            <a href="https://www.instagram.com/d.artres/">@d.artres</a>, 
            <a href="https://www.instagram.com/gisele_araujoof/">@gisele_araujoof</a>, 
            <a href="https://www.instagram.com/matheussantosdri/">@matheussantosdri</a>, 
            <a href="https://www.instagram.com/miguel_marcondes_loureiro/">@miguel_marcondes_loureiro</a>, 
            <a href="https://www.instagram.com/sf_pedroh/">@sf_pedroh</a>
        </div></center> 
    </section>

</body>
</html>