<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HighTech | Todos podem</title>
    <link rel="shortcut icon" type="image/png" href="../img/logoIconeSite.png">
    <link rel="stylesheet" href="../css/style.css">
    <script defer src="../nav/header.js"></script>
    <link rel="stylesheet" href="../nav/header.css">
    <link rel="stylesheet" href="../css/funcaoAcessibilidade.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tota11y/0.1.6/tota11y.min.js"></script>
    <script src="../js/funcoesAcessibilidade.js"></script>
</head>

<body>

    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>
        <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>

    <button class="accessibility-btn" onclick="toggleAccessibilityMenu()"><img src="../img/iconFuncoesAcessibilidade.png" width="30px" height="30px"></button>

    <div id="accessibility-menu" style="display: none;">
        <button onclick="increaseTextSize()">Aumentar Texto</button>
        <button onclick="decreaseTextSize()">Diminuir Texto</button>
        <button onclick="toggleContrast()">Alto Contraste</button>
        <button onclick="toggleGrayscale()">Escala de Cinza</button>
        <button onclick="increaseLineSpacing()">Aumentar Espaçamento de Linhas</button>
        <button onclick="decreaseLineSpacing()">Diminuir Espaçamento de Linhas</button>
        <button onclick="resetAccessibility()">Redefinir</button>
    </div>

    <main-header base-url="./" base-nav="../../" base-img="../"></main-header>

    <main>

        <div class="paginasPesquisa">
            <div class="tituloDaAba">
                Análise de requisitos no ambiente <br>de teste
            </div>
            <div class="imagens">
                <img src="../img/analise.png" height="20%" width="40%">
            </div>

            <div class="caixaDeTexto">
                <h3>Requisito de dados: </h3><br>
                <h4>• O que é requisitos de dados?</h4><br>
                A definição das regras de integridade, que garantem a consistência e validade dos dados armazenados.
                Isso inclui restrições de chave primária, chave estrangeira, restrições de domínio e restrições de
                integridade referencial.
                <br><br>
                <h4>• Requisitos do projeto:</h4><br>
                Nome Tipo Tamanho Requerido Descrição<br>
                Nome Textual 45 Sim Nome do usuário<br>
                E-mail Textual 60 Sim xxx@xxxx.com<br>
                Senha Textual 12 Sim Deve ser composta por letras e números<br><br><br>

                <h3>Requisito funcionais: </h3><br>
                Os requisitos funcionais falam sobre as ações específicas que um sistema ou aplicativo deve ser capaz de
                realizar. Ambos possuem as capacidades concretas e as operações que o software deve realizar para
                atender às necessidades e expectativas do usuário.
                Um exemplo prático: os requisitos funcionais desse aplicativo incluiriam a capacidade de adicionar novas
                tarefas, definir prazos, atribuir tarefas a usuários específicos e gerar relatórios de progresso. Cada
                um desses elementos representa uma funcionalidade específica que o software deve oferecer para ser
                considerado funcional e útil.
                <br><br>
                <h4>Funcionais do site:</h4><br>
                - Acesso às páginas através da barra superior e dos Cards na tela index;<br>
                - Ancoragem na página de escopo;<br>
                - Menu superior, dando acesso a todas as páginas.<br><br><br>

                <h3>Não funcionais:</h3><br>
                Os requisitos não funcionais especificam como o software deve realizar a tarefa. Eles são cruciais para
                garantir a qualidade e a eficiência do software, abrangendo aspectos como desempenho, segurança,
                confiabilidade e usabilidade.
                Um exemplo prático: Ao considerar um aplicativo bancário, um requisito funcional seria a capacidade de
                realizar transferências financeiras. Em contrapartida, um requisito não funcional relacionado seria a
                garantia de que todas as transações sejam processadas em menos de três segundos, ou que o aplicativo
                mantenha um alto nível de segurança de dados para proteger as informações do usuário.
                <br><br>
                <h4>Não funcionais - Regras:</h4><br>
                - Logo volta a tela de início;<br>
                - Consta no rodapé de todas as páginas um link para os instagrans dos desenvolvedores;<br>
                - Margem nas páginas; <br>
                - Padronização através da centralização dos itens em todas as páginas;<br>
                - Formatação da escrita nas páginas.<br><br><br>


                <h3>Requisito de segurança:</h3><br>
                Os requisitos de segurança são um grupo de diretrizes, normas e práticas essenciais para garantir que um
                sistema ou ambiente seja seguro. São baseados em análises de risco e consideram as possíveis ameaças que
                podem danificar a segurança dos ativos organizacionais.

                <br><br>
                <h4>Aplicação:</h4><br>
                Em nosso projeto de teste, quando o usuário acessar a aba projeto será requerido um login de acesso,
                onde será solicitado nome, e-mail e senha. Indivíduos sem cadastro terão alcance limitado.

                <br><br><br>
                <h4>Requisito de interface gráfica:</h4><br>
                Os requisitos de interface descrevem como o sistema deve interagir com os usuários, envolvem a interface
                do usuário, em que a interação é baseada na utilização de imagens para possibilitar a contato com o
                usuário. Os recursos de interface também podem englobar a interação do usuário por meio de textos
                formatados, e isso acaba deixando a comunicação ais nítida e amigável. Ela consiste em vários elementos
                projetados para simplificar a interação com os computadores, como: ícones, janelas, menus, botões,
                ponteiros, entre outros.
                <br><br><br>
                <h4>Referências</h4><br>
                https://enderecocomercialbarueri.com.br/glossario/o-que-e-requisitos-de-seguranca/<br>
                https://pt.linkedin.com/pulse/conceito-de-requisitos-interface-mais-claros-ou-fabiano-magnan<br>
                https://blog.cronapp.io/interface-grafica-do-usuario/<br>
                https://napoleon.com.br/glossario/o-que-e-elementos-de-requisitos-do-sistema/#:~:text=3.,outros%20sistemas%2C%20dispositivos%20ou%20usu%C3%A1rios.<br>
                https://querobolsa.com.br/revista/requisitos-funcionais-e-nao-funcionais<br>

    </main>
    <footer>
        <p> Todos os direitos reservados a HighTech ©</p>
    </footer>

    <section class="arrobasInstas">
        <center>
            <div>
                <a href="https://www.instagram.com/d.artres/">@d.artres</a>,
                <a href="https://www.instagram.com/gisele_araujoof/">@gisele_araujoof</a>,
                <a href="https://www.instagram.com/matheussantosdri/">@matheussantosdri</a>,
                <a href="https://www.instagram.com/miguel_marcondes_loureiro/">@miguel_marcondes_loureiro</a>,
                <a href="https://www.instagram.com/sf_pedroh/">@sf_pedroh</a>
            </div>
        </center>
    </section>

</body>

</html>