<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HighTech | Todos podem</title>
    <link rel="shortcut icon" href="../img/logoGuia.png" type="image/x-icon">    
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <a href="../../index.html"><img src="../img/logo.png" class="logo"></a>
    
        <nav class="nav-header">
            <ul>
                <li class="dropdown dropbtn">
                    
                    <div class="fitnessNav">Projeto</div>
                    <div class="dropdown-content">
                        <a href="escopo.html">• Escopo</a>
                    </div>
                </li>
                <li class="dropdown dropbtn">
                    
                    <div class="fitnessNav">Pesquisas</div>
                    <div class="dropdown-content">
                        <a href="desenhoUniversal.html">• Desenho Universal </a>
                        <a href="deficiencia.html">• Deficiência</a>
                        <a href="inclusao.html">• Inclusão </a>
                        <a href="acessibilidade.html">• Acessibilidade</a>
                        <a href="estudoDeViabilidade.html">• Estudo de viabilidade</a>
                    </div>
                </li>
            
                <li id="menu-margem"><a href="quemsomos.html">Quem somos</a></li>
            </ul>
        </nav>
    </header>
    <div class="faixa"></div>
    <main>
        
        <div class="paginasPesquisa">
   
            <div class="tituloDaAba">
                Deficiência
            </div>

            <div class="imagens">
             <img src="../img/deficiencia2.png" alt="" width="300">
             </div>
             
            <div class="caixaDeTexto">
                <h3>O que é uma deficiência?</h3>
                <br>
                A deficiência é uma condição complexa que afeta indivíduos em diferentes aspectos de suas vidas. Não se limita apenas à incapacidade física, mas engloba uma variedade de desafios que podem se manifestar de forma física, sensorial, cognitiva ou emocional. É importante compreender que a deficiência não define uma pessoa, mas é apenas uma parte da sua identidade.                
                <br><br>             
                <h3>Tipos de deficiência:</h3>
                <br>
                <h4>1. Deficiência Física:</h4>
                Refere-se a limitações físicas que afetam a mobilidade ou a funcionalidade do corpo. Exemplos incluem paralisia cerebral, amputações, distrofia muscular, entre outros.                
                <br><br> 
                <h4>2. Deficiência Sensorial:</h4>
                Engloba perdas ou limitações nos sentidos, como deficiência visual (cegueira total ou parcial) e deficiência auditiva (surdez total ou parcial).
                <br><br>
                <h4>3. Deficiência Cognitiva:</h4>
                Envolve dificuldades de aprendizado e processamento de informações, como a síndrome de Down, o autismo e a dislexia.                
                <br><br>
                <h4>4. Deficiência Mental/Intelectual:</h4>
                Refere-se a limitações no funcionamento intelectual e adaptativo, afetando a capacidade de compreensão e de realização de tarefas diárias.                
                <br><br>
                <h4>5. Deficiência Emocional/Psicológica::</h4>
                Pode incluir condições como depressão, transtorno bipolar, ansiedade severa, entre outras, que afetam o bem-estar emocional e psicológico da pessoa.                
                <br><br>
                <h3>Dificuldades Associadas:</h3>
                <br>
                <h4>Acessibilidade:</h4>
                A falta de acessibilidade física, digital e comunicacional pode limitar a participação plena das pessoas com deficiência na sociedade.                
                <br><br> 
                <h4>Estigma e Discriminação:</h4>
                Ainda existe um estigma social associado à deficiência, o que pode resultar em discriminação, preconceito e exclusão.                
                <br><br>
                <h4>Barreiras Educacionais e Profissionais:</h4>
                A falta de adaptações e suportes adequados nas instituições educacionais e no ambiente de trabalho pode dificultar o acesso à educação e ao emprego para pessoas com deficiência.                
                <br><br> 
                <h4>Limitações de Mobilidade e Autonomia:</h4>
                A dependência de dispositivos de assistência e a falta de infraestrutura acessível podem restringir a mobilidade e a autonomia das pessoas com deficiência.                
                <br><br> 
                <h4>Desafios na Saúde Mental:</h4>
                As pessoas com deficiência podem enfrentar desafios adicionais em relação à saúde mental devido a fatores como isolamento social, estresse crônico e dificuldades de adaptação.                
                <br><br>
                <h3>Conclusão</h3>
                <br>
                É fundamental promover uma cultura de inclusão e respeito, reconhecendo as habilidades e potenciais das pessoas com deficiência. A criação de ambientes acessíveis, o desenvolvimento de políticas inclusivas e o combate ao preconceito são passos essenciais para garantir a igualdade de oportunidades e o pleno exercício dos direitos das pessoas com deficiência em todas as esferas da sociedade.            </div>
        </div>

    </main>
    <footer>
        <p> Todos os direitos reservados a HighTech ©</p>
    </footer>

    <section class="arrobasInstas">
       <center><div> 
            <a href="https://www.instagram.com/d.artres/">@d.artres</a>, 
            <a href="https://www.instagram.com/gisele_araujoof/">@gisele_araujoof</a>, 
            <a href="https://www.instagram.com/matheussantosdri/">@matheussantosdri</a>, 
            <a href="https://www.instagram.com/miguel_marcondes_loureiro/">@miguel_marcondes_loureiro</a>, 
            <a href="https://www.instagram.com/sf_pedroh/">@sf_pedroh</a>
        </div></center> 
    </section>

</body>
</html>