<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HighTech | Todos podem</title>
    <link rel="shortcut icon" href="../img/logoGuia.png" type="image/x-icon">    
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <a href="../../index.html"><img src="../img/logo.png" class="logo"></a>
    
        <nav class="nav-header">
            <ul>
                <li class="dropdown dropbtn">
                    
                    <div class="fitnessNav">Projeto</div>
                    <div class="dropdown-content">
                        <a href="escopo.html">• Escopo</a>
                    </div>
                </li>
                <li class="dropdown dropbtn">
                    
                    <div class="fitnessNav">Pesquisas</div>
                    <div class="dropdown-content">
                        <a href="desenhoUniversal.html">• Desenho Universal </a>
                        <a href="deficiencia.html">• Deficiência</a>
                        <a href="inclusao.html">• Inclusão </a>
                        <a href="acessibilidade.html">• Acessibilidade</a>
                        <a href="estudoDeViabilidade.html">• Estudo de viabilidade</a>
                    </div>
                </li>
            
                <li id="menu-margem"><a href="quemsomos.html">Quem somos</a></li>
            </ul>
        </nav>
    </header>
    <div class="faixa"></div>
    <main>

        <div class="paginasPesquisa">
   
            <div class="tituloDaAba">
                Desenho Universal
            </div>

            <div class="imagens">
             <img src="../img/desenhouniversal2.png" alt="" width="300">
             </div>
             
            <div class="caixaDeTexto">
                <h3>O que é desenho universal?</h3>
                <br>
                O Desenho Universal é um conceito fundamental que visa criar produtos, ambientes e serviços acessíveis para o maior número possível de pessoas, independentemente de suas habilidades, idade ou características físicas. Essa abordagem procura eliminar barreiras e promover a inclusão, reconhecendo a diversidade da humanidade e suas necessidades variadas.
                <br><br>             
                <h3>Utilidade do Desenho Universal:</h3>
                <br>
                <h4>1. Acessibilidade:</h4>
                O Desenho Universal garante que espaços, produtos e serviços sejam acessíveis para todos, incluindo pessoas com deficiência física, visual, auditiva ou cognitiva. Isso significa projetar ambientes sem obstáculos, oferecendo múltiplas formas de interação e comunicação.
                <br><br> 
                <h4>2. Inclusão:</h4>
                Ao incorporar princípios de design inclusivo, o Desenho Universal permite que pessoas com diferentes capacidades participem plenamente da sociedade, sem discriminação ou limitações. Isso promove uma cultura de inclusão e respeito pela diversidade.            
                <br><br>
                <h4>3. Conveniência para Todos: </h4>
                As soluções baseadas no Desenho Universal muitas vezes beneficiam não apenas pessoas com necessidades específicas, mas também o público em geral. Por exemplo, rampas de acesso não são úteis apenas para cadeirantes, mas também para pais com carrinhos de bebê, idosos com dificuldades de locomoção e pessoas carregando bagagens pesadas.                
                <br><br>
                <h3>Quais os exemplos de desenho universal?:</h3>
                <br>
                <h4>Calçadas com Rebaixamento:</h4>
                Calçadas com rebaixamento facilitam o acesso a cadeirantes, carrinhos de bebê e pessoas com mobilidade reduzida.
                <br><br> 
                <h4>Sistemas de Comunicação Multissensoriais:</h4>
                Sistemas que combinam texto, áudio e imagens beneficiam pessoas com deficiência visual, auditiva ou cognitiva, além de fornecer uma experiência mais rica para todos os usuários.                
                <br><br>
                <h4>Controles de Elevadores com Botões Táteis e Visuais:</h4>
                Elevadores com controles acessíveis, incluindo botões com Braille e símbolos visuais, são exemplos de como o Desenho Universal pode facilitar a navegação para todos os usuários.                
                <br><br> 
                <h4>Design Ergonômico de Mobiliário:</h4>
                Mobiliário com design ergonômico, como cadeiras confortáveis com apoios de braço ajustáveis, beneficia pessoas com diferentes necessidades de conforto e postura.                
                <br><br> 
                <h4>Legendas em Vídeos e Transcrições de Áudio:</h4>
                Incluir legendas em vídeos e disponibilizar transcrições de áudio torna o conteúdo acessível para pessoas surdas ou com deficiência auditiva, além de oferecer benefícios para usuários em ambientes barulhentos ou silenciosos.                
                <br><br>
                <h3>Conclusão</h3>
                <br>
                Em resumo, o Desenho Universal é essencial para criar um mundo mais inclusivo, onde todos tenham a oportunidade de participar plenamente da vida cotidiana. Ao adotar esses princípios, podemos construir uma sociedade mais justa, acessível e acolhedora para todos.
            </div>
        </div>

    </main>
    <footer>
        <p> Todos os direitos reservados a HighTech ©</p>
    </footer>

    <section class="arrobasInstas">
       <center><div> 
            <a href="https://www.instagram.com/d.artres/">@d.artres</a>, 
            <a href="https://www.instagram.com/gisele_araujoof/">@gisele_araujoof</a>, 
            <a href="https://www.instagram.com/matheussantosdri/">@matheussantosdri</a>, 
            <a href="https://www.instagram.com/miguel_marcondes_loureiro/">@miguel_marcondes_loureiro</a>, 
            <a href="https://www.instagram.com/sf_pedroh/">@sf_pedroh</a>
        </div></center> 
    </section>

</body>
</html>