<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HighTech | Todos podem</title>
    <link rel="shortcut icon" href="../img/logoGuia.png" type="image/x-icon">    
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <a href="../../index.html"><img src="../img/logo.png" class="logo"></a>
    
        <nav class="nav-header">
            <ul>
                <li class="dropdown dropbtn">
                    
                    <div class="fitnessNav">Projeto</div>
                    <div class="dropdown-content">
                        <a href="modelagemIntro.html">• Modelagem e Intro</a>
                        <a href="diagramas.html">• UML Diagramas</a>
                        <a href="escopo.html">• Escopo</a>
                        <a href="analise.html">• Análise de requisitos <br> no ambiente de teste</a>
                    </div>
                </li>
                <li class="dropdown dropbtn">
                    
                    <div class="fitnessNav">Pesquisas</div>
                    <div class="dropdown-content">
                        <a href="desenhoUniversal.html">• Desenho Universal </a>
                        <a href="deficiencia.html">• Deficiência</a>
                        <a href="inclusao.html">• Inclusão </a>
                        <a href="acessibilidade.html">• Acessibilidade</a>
                        <a href="estudoDeViabilidade.html">• Estudo de viabilidade</a>
                        <a href="tecnologiasAssistivas.html">• Tecnologias Assistivas</a>

                    </div>
                </li>
            
                <li id="menu-margem"><a href="quemsomos.html">Quem somos</a></li>
            </ul>
        </nav>
    </header>
    <div class="faixa"></div>
    <div class="paginasPesquisa">        
        <div class="tituloDaAbaViabilidade">
            UML Diagramas:
        </div><br>
        <div class="imagens">
            <img src="../img/diagramas.jpg" alt="" width="320">
        </div><br>

        <div class="caixaDeTexto">
            <h2>O que é Diagrama de Caso de Uso:</h2><br>
            •   Falando sobre a Linguagem de modelagem unificada (UML), o diagrama de caso de uso deixa claro os detalhes dos usuários do seu programa, e as interações com o sistema. Para criar um, use um conjunto de símbolos e conectores específicos. <br>
            •	Caso de uso:  Formato oval na horizontal e que representam os diferentes usos que um usuário pode ter.<br>
            •	Atores:  Bonecos palito, representando as pessoas que realmente implementam os casos de uso.<br>
            •	Associações:  Uma linha entre atores e casos de uso. Nos diagramas complexos, é importante saber quais atores estão associados a quais casos de uso.<br>  
            •   Include: Quando o caso de uso A “inclui” o caso de uso B, significa que sempre que o caso de uso A for executado o caso de uso B também será executado. A direção do relacionamento é do caso de uso que está incluindo para o caso de uso incluído.<br>
            •   Extend: Quando o caso de uso B estende o caso de uso A, significa que quando o caso de uso A for executado o caso de uso B poderá (poderá – talvez não seja) ser executado também. A direção do relacionamento é do caso de uso extensor (aqui o caso de uso B) para o caso de uso estendido (aqui o caso de uso A).<br><br>
            
            <!-- <img src="../img/" alt="" width="700" height="400"><br><br> -->

        <h2>O que é Diagrama de Sequencia:</h2><br>
            •   <br>
        
            <img src="../img/diagramaSequencia.png" alt="" width="700" height="400"><br><br>
        
        <h2>O que é Diagrama de Atividade:</h2><br>
            •  Diagramas de atividade ajudam a unir as pessoas das áreas de negócios e de desenvolvimento de uma organização para entender o mesmo processo e comportamento. Para criar um diagrama de atividade, é necessário um conjunto de símbolos especiais, incluindo aqueles para dar partida, encerrar, fundir ou receber etapas no fluxo — o qual abordaremos de forma mais aprofundada neste guia de diagramas de atividade. <br>
            •  Atividades: As atividades descrevem os processos de negócios e incluem nós de atividade e bordas de atividades, permitindo que as tarefas fluam ao longo de uma sequência.<br>
            •  Nós iniciais: O nó inicial fica no início do diagrama; ele representa o ponto de início da atividade. <br>
            •  Decisões: Uma decisão é um ponto do diagrama em que o usuário ou o software tem que fazer uma escolha. Cada opção leva a uma nova ramificação, portanto, a decisão é composta de uma entrada e pelo menos duas saídas.<br>
            •  Nós finais: O nó final é a etapa final da atividade. A conclusão do nó final indica que a atividade também foi concluída.<br>
            •  Fork ou Join: O uso do tipo Fork se dá para dividir o fluxo do diagrama em atividades paralelas, ou seja, que serão executadas em modo concorrente. Esta função é uma das que tornam este diagrama tão dinâmico e flexível. O outro tipo de sincronização, o Join, é utilizado para unir as atividades que estão correndo em paralelo, seguindo assim em apenas um fluxo. Simplificando um pouco mais o entendimento deste elemento, o Fork faz a divisão das atividades e o Join faz a sincronização das mesmas.<br><br>            

        <img src="../img/diagramaAtividade.png" alt="" width="900" height="600"><br><br>
        

        <h2>O que é Diagrama de Classes:</h2><br>
            •  É possível ver no diagrama de classe o relacionamento da tabela
            user passando pela conexão até o banco de dados. Dentro da tabela user tem-se as variáveis
            id, senha, nome, e email, que permite o cadastro do usuário.<br><br>
        
        <img src="../img/diagramaClasse.png" alt="" width="900" height="400"><br><br>
        
        <h4>Referências bibliográficas:</h4>
        • https://www.lucidchart.com/pages/pt/o-que-e-diagrama-de-atividades-uml<br> 

        <br>
        </div>
    </div>

    <footer>
        <p> Todos os direitos reservados a HighTech ©</p>
    </footer>

    <section class="arrobasInstas">
        <center><div> 
            <a href="https://www.instagram.com/d.artres/">@d.artres</a>, 
            <a href="https://www.instagram.com/gisele_araujoof/">@gisele_araujoof</a>, 
            <a href="https://www.instagram.com/matheussantosdri/">@matheussantosdri</a>, 
            <a href="https://www.instagram.com/miguel_marcondes_loureiro/">@miguel_marcondes_loureiro</a>, 
            <a href="https://www.instagram.com/sf_pedroh/">@sf_pedroh</a>
        </div></center> 
    </section>

</body>
</html>