<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HighTech | Todos podem</title>
    <link rel="shortcut icon" href="../img/logoGuia.png" type="image/x-icon">    
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <a href="../../index.html"><img src="../img/logo.png" class="logo"></a>
    
        <nav class="nav-header">
            <ul>
                <li class="dropdown dropbtn">
                    
                    <div class="fitnessNav">Projeto</div>
                    <div class="dropdown-content">
                        <a href="modelagemIntro.html">• Modelagem e Intro</a>
                        <a href="escopo.html">• Escopo</a>
                        <a href="#ciclo">-> Ciclo de Vida</a>
                        <a href="#eap">-> EAP</a>
                        <a href="#crono">-> Cronograma</a>
                        <a href="#matriz">-> Matriz</a>
                        <a href="analise.html">• Análise de requisitos <br> no ambiente de teste</a>
                    </div>
                </li>
                <li class="dropdown dropbtn">
                    
                    <div class="fitnessNav">Pesquisas</div>
                    <div class="dropdown-content">
                        <a href="desenhoUniversal.html">• Desenho Universal </a>
                        <a href="deficiencia.html">• Deficiência</a>
                        <a href="inclusao.html">• Inclusão </a>
                        <a href="acessibilidade.html">• Acessibilidade</a>
                        <a href="estudoDeViabilidade.html">• Estudo de viabilidade</a>
                        <a href="tecnologiasAssistivas.html">• Tecnologias Assistivas</a>

                    </div>
                </li>
            
                <li id="menu-margem"><a href="quemsomos.html">Quem somos</a></li>
            </ul>
        </nav>
    </header>
    <div class="faixa"></div>
    <main>
        
        <div class="paginasPesquisa">
            <div class="tituloDaAba">
                Escopo
        </div>
        <br>
            <div class="imagens">
             <img src="../img/deficiencia2.jpg" alt="" width="300">
             </div>
                         
            <div class="caixaDeTexto">
            <h3>
                <a></a>
            </h3><br><br>
            <a name="escopo"> O Escopo do Projeto é todo o trabalho necessário para obter um produto, serviço ou resultado. Ele reúne informações relevantes sobre o projeto, como: objetivos específicos, entregas, tarefas, responsabilidades, prazos e custos. Além disso, estabelece os limites do projeto e os critérios de validação e aceitação das entregas.
            <br><br> </a>   
            <h3>
            Escrevendo o escopo
            </h3><br><br>

            

            - O que é?<br>
            Trata-se de um website para ser utilizado como um ambiente<br>
            de teste para configuração de itens de acessibilidade digital;<br><br>
            
            
            - Justificativa:
            Para estudos dos conceitos de desenvolvimento de projeto com recursos de acessibilidade;<br><br>
            
            
            - Objetivo:
            Projetando um website informativo que apresente textos sobre acessibilidade, explicação de como o site foi criado e que ainda demonstre a aplicação de recursos de acessibilidade com integração de bibliotecas externas/serviços externos.
                       <br><br> 
            <h3>
                <a name="ciclo"> O que é o ciclo de vida de um software?    </a>        </h3><br><br>
            O ciclo de vida de um software é uma estrutura que indica processos e atividades envolvidas no desenvolvimento, operação e manutenção de um software, abrangendo de fato toda a vida do sistema. Neste ciclo, existem modelos que definem como o software será desenvolvido, lançado, aprimorado e finalizado. 
            <br><br>
            
            <h4>Ciclo de vida desse projeto: Incremental</h4> <br><br>
            <h3>

                <a name="eap"> O que é EAP – Estrutura Analítica do Projeto?    </a>        </h3><br><br>
            A Estrutura Analítica do Projeto ou EAP (tradução do inglês Work Breakdown Structure – WBS) é um diagrama utilizado para a organização e gestão de projetos. Ele é formatado em diagrama a fim de permitir a visualização geral da demanda, facilitando o gerenciamento das atividades.    
            <br><br>
            <img src="../img/eap.drawio.png" width="900px">
            <h3>
                <a name="crono">O que é cronograma de projeto?</a>
            </h3><br><br>
            Cronograma de projeto é uma ferramenta de gestão que tem por objetivo organizar atividades, recursos e prazos em único lugar.
Então, de forma resumida, o cronograma de projeto proporciona uma visão geral sobre os prazos do projeto, mostra como e quando as entregas serão disponibilizadas e quem é responsável por cada parte dessas entregas.
            <br><br>
            <img src="../img/crono.png">
            <h3>
                Como montar um cronograma de projeto?
            </h3><br><br>
            1. Planeje o gerenciamento do cronograma;<br>
            2. Defina as atividades;<br>
            3. Sequencie as atividades;<br>
            4. Estime as durações das atividades;<br>
            5. Desenvolva o cronograma;<br>
            6. Controle o cronograma.<br>
            
<br><br>
            <h3>
                <a name="matriz">O que é matriz de reponsabilidade?</a>
            </h3><br><br>
            
A matriz de responsabilidade é uma ferramenta visual que define a participação e a responsabilidade de cada profissional dentro de um projeto.
Essa solução pode ser usada, por exemplo, no desenvolvimento de estratégias, na criação e/ou lançamento de novos produtos, nas otimizações de processos internos, entre diversas outras situações.
<br><br>    
<h4>Referências</h4><br><br>
https://www.euax.com.br/2018/12/definicao-de-escopo-de-projeto/<br>
https://www.treinaweb.com.br/blog/ciclo-de-vida-software-por-que-e-importante-saber<br>
https://www.pontotel.com.br/estrutura-analitica-do-projeto/<br>
https://www.euax.com.br/2019/02/cronograma-de-projeto/<br>
https://www.zendesk.com.br/blog/matriz-de-responsabilidade/<br>



        </div>
        </div>

    </main>
    <footer>
        <p> Todos os direitos reservados a HighTech ©</p>
    </footer>

    <section class="arrobasInstas">
       <center><div> 
            <a href="https://www.instagram.com/d.artres/">@d.artres</a>, 
            <a href="https://www.instagram.com/gisele_araujoof/">@gisele_araujoof</a>, 
            <a href="https://www.instagram.com/matheussantosdri/">@matheussantosdri</a>, 
            <a href="https://www.instagram.com/miguel_marcondes_loureiro/">@miguel_marcondes_loureiro</a>, 
            <a href="https://www.instagram.com/sf_pedroh/">@sf_pedroh</a>
        </div></center> 
    </section>

</body>
</html>