<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HighTech | Todos podem</title>
    <link rel="shortcut icon" href="../img/logoGuia.png" type="image/x-icon">    
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <a href="../../index.html"><img src="../img/logo.png" class="logo"></a>
    
        <nav class="nav-header">
            <ul>
                <li class="dropdown dropbtn">
                    
                    <div class="fitnessNav">Projeto</div>
                    <div class="dropdown-content">
                        <a href="escopo.html">• Escopo</a>
                    </div>
                </li>
                <li class="dropdown dropbtn">
                    
                    <div class="fitnessNav">Pesquisas</div>
                    <div class="dropdown-content">
                        <a href="desenhoUniversal.html">• Desenho Universal </a>
                        <a href="deficiencia.html">• Deficiência</a>
                        <a href="inclusao.html">• Inclusão </a>
                        <a href="acessibilidade.html">• Acessibilidade</a>
                        <a href="estudoDeViabilidade.html">• Estudo de viabilidade</a>
                    </div>
                </li>
            
                <li id="menu-margem"><a href="quemsomos.html">Quem somos</a></li>
            </ul>
        </nav>
    </header>
    <div class="faixa"></div>
    <div class="paginasPesquisa">
        
             
        <div class="tituloDaAbaViabilidade">
            Estudo de Viabilidade
        </div>
        <div class="imagemViabilidade">
            <img src="../img/viabilidadeIcone.png" alt="" width="370">
        </div>

        <div class="caixaDeTexto">
            <h2>O que é o estudo de viabilidade?</h2>
            <br>
            O estudo de viabilidade é uma análise detalhada que avalia se um projeto é viável 
            e sustentável, <br>
            levando em consideração custos, retorno financeiro, impactos ambientais e sociais.<br>
            Ele ajuda a minimizar riscos e embasar decisões, sendo fundamental para o sucesso de <br>
            qualquer empreendimento.<br><br>           

            <h3> Viabilidade técnica?</h3><br>
            Dentro desta há duas áreas para analisar se dispõem-se do necessário: o “Para fazer” e o 
            “Para implantar”.
            <br><br> 
            
            <h4>• Para fazer:</h4>
            - Saber a linguagem de programação (Neste projeto são PHP, HTML, CSS, JavaScript);<br> 
            - Ambiente de desenvolvimento (Windows, VsCode, Apache, Draw.io/LucidcHart,
             MySQL, SublimeText);<br> <br>
            - Equipamentos de trabalho disponíveis e suas configurações: <br>
            Desktop da Brenda: 10gb de RAM, SSD de 256gb + HD de 480gb, I3 3770, Monitor 14 polegadas;<br>
            Desktop da Gisele: 4gb de RAM, HD de 500gb, Intel Celeron N4100, Monitor 21,5 polegadas;<br>
            Desktop Pedro: 4gb de RAM, SSD de 256gb + HD de 480gb, I3 5005U, Monitor 17 polegadas;<br>
            Desktop Matheus: 6gb de RAM, SSD de 256gb + HD de 480gb, I3 5005U, Monitor 17 polegadas;<br>
            Desktop Miguel: 8gb de RAM, HD de 1000gb, I5 7200U, Monitor 15,6 polegadas;
            Desktop Laboratório: 8gb de RAM, HD de 465gb, I5 7500, Monitor 17 polegadas.<br>
            <br><br> 

            <h4>• Para implementar:</h4>
            - Serviço de hospedagem (servidor web);<br>
            - Navegador: Chrome. <br>
             
            <br><br> 
            <h3> Viabilidade organizacional:</h3>
            Trata do tema ou do modelo do negócio.
            <br><br> 
            <h4>- O quê?</h4>
            Trata-se de um website para ser utilizado como um ambiente <br> 
            de teste para configuração de itens de acessibilidade digital;  
            <br><br> 
            <h4>- Para que? </h4>
            Para estudos dos conceitos de desenvolvimento de projeto com recurso de acessibilidade; 
            <br><br> 
            <h4>- Como? </h4>
            Projetando um website informativo que apresente textos sobre acessibilidade, explicação de <br> 
            como o site foi criado e que ainda demonstre a aplicação de recursos de <br> 
            acessibilidade com integração de bibliotecas externas/serviços externos.<br> 
            <br><br> 
            <h3>Viabilidade humana: </h3>
                Trata-se de conhecer os pontos fortes dos integrantes da equipe.<br> <br> 
                Brenda - Correção de textos, design, perfil de liderança;<br>
                Gisele - Organização, proatividade, perfil de liderança;<br>
                Matheus - Trabalha em equipe, área técnica;<br>
                Miguel - Trabalha em equipe, design, área técnica;<br>
                Pedro - Design, correção de textos, área técnica.
               
            <br><br> 
            
            <h4>Referências bibliográficas:</h4>
            Tiramos essas informações á partir da aula de Acessibilidade digital, <br> professora Angela.
            <br><br>
        </div>
 
     

    </div>
    <footer>
        <p> Todos os direitos reservados a HighTech ©</p>
    </footer>

    <section class="arrobasInstas">
       <center><div> 
            <a href="https://www.instagram.com/d.artres/">@d.artres</a>, 
            <a href="https://www.instagram.com/gisele_araujoof/">@gisele_araujoof</a>, 
            <a href="https://www.instagram.com/matheussantosdri/">@matheussantosdri</a>, 
            <a href="https://www.instagram.com/miguel_marcondes_loureiro/">@miguel_marcondes_loureiro</a>, 
            <a href="https://www.instagram.com/sf_pedroh/">@sf_pedroh</a>
        </div></center> 
    </section>

</body>
</html>