<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HighTech | Todos podem</title>
    <link rel="shortcut icon" href="../img/logoGuia.png" type="image/x-icon">    
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <a href="../../index.html"><img src="../img/logo.png" class="logo"></a>
    
        <nav class="nav-header">
            <ul>
                <li class="dropdown dropbtn">
                    
                    <div class="fitnessNav">Projeto</div>
                    <div class="dropdown-content">
                        <a href="escopo.html">• Escopo</a>
                    </div>
                </li>
                <li class="dropdown dropbtn">
                    
                    <div class="fitnessNav">Pesquisas</div>
                    <div class="dropdown-content">
                        <a href="desenhoUniversal.html">• Desenho Universal </a>
                        <a href="deficiencia.html">• Deficiência</a>
                        <a href="inclusao.html">• Inclusão </a>
                        <a href="acessibilidade.html">• Acessibilidade</a>
                        <a href="estudoDeViabilidade.html">• Estudo de viabilidade</a>
                    </div>
                </li>
            
                <li id="menu-margem"><a href="quemsomos.html">Quem somos</a></li>
            </ul>
        </nav>
    </header>
    <div class="faixa"></div>
    <div class="paginasPesquisa">
        
             
        <div class="tituloDaAbaViabilidade">
            Inclusão
        </div>
        <div class="imagens">
            <img src="../img/inclusaoIcone.png" alt="" width="260">
        </div>

        <div class="caixaDeTexto">
            <h2>O que é a inclusão?</h2>
            <br>
            Inclusão social é garantia que todas as pessoas tenham acesso iguais a oportunidades, 
            recursos e direitos na sociedade. Contudo, isso significa que todos tem a chance de participar 
            de uma coletividade.
            Podemos considerar como parte desse grupo as pessoas portadoras de
             deficiências físicas, motoras e cognitivas, os negros, indígenas, homossexuais, 
             transexuais e pessoas com pouco ou nenhum recurso financeiro. Ou seja, seres humanos que, 
             de alguma forma, saem do padrão de normalidade criado pela sociedade.
             <br><br>

            <h2> Benefícios da Inclusão Social:</h2><br>
            • Diversidade e Envolvimento: Promove a diversidade e o envolvimento de todos os grupos sociais na vida pública e privada.<br>
            • Desenvolvimento Humano: Contribui para o desenvolvimento humano ao permitir que todos tenham acesso a educação, saúde, emprego e participação na sociedade.<br>
            • Redução de Desigualdades: Combate as desigualdades sociais, econômicas e políticas, promovendo uma distribuição mais equitativa de recursos e oportunidades.<br>
            • Crescimento Econômico: Estimula o crescimento econômico ao aproveitar todo o potencial de talentos e habilidades disponíveis na sociedade.<br>
            • Coesão Social: Fortalece a coesão social e a harmonia entre diferentes grupos, reduzindo conflitos e divisões.<br>

            <br><br> 
            
            <h2>Estratégias para Promover a Inclusão Social:</h2>
            • Políticas Inclusivas: Implementação de políticas públicas que garantam igualdade de oportunidades e proteção dos direitos de todos os cidadãos.<br>
            • Educação e Sensibilização: Promover programas educacionais e campanhas de sensibilização para combater estereótipos, preconceitos e discriminação.<br>
            • Acesso Universal: Garantir acesso universal a serviços básicos como saúde, educação, habitação, transporte e emprego, especialmente para grupos marginalizados.<br>
            • Participação Cidadã: Incentivar a participação ativa da sociedade civil e dos grupos vulneráveis na formulação de políticas e programas que afetem suas vidas.<br>
            • Apoio Institucional: Apoiar iniciativas de organizações não governamentais (ONGs), empresas e instituições públicas que promovam a inclusão social e a diversidade.<br>
            <br><br> 

            
            
            <h4>Referências bibliográficas:</h4>
            • https://www.cnnbrasil.com.br/politica/inclusao-social/#:~:text=%C3%89%20um%20meio%20de%20erradicar,democratiza%C3%A7%C3%A3o%20dos%20espa%C3%A7os%20e%20servi%C3%A7os<br> 
            • https://brasilescola.uol.com.br/educacao/inclusao-social.htm<br> 
            • https://blog.psicologiaviva.com.br/inclusao-social/<br> 
            <br><br>
        </div>
 
     

    </div>
    <footer>
        <p> Todos os direitos reservados a HighTech ©</p>
    </footer>

    <section class="arrobasInstas">
       <center><div> 
            <a href="https://www.instagram.com/d.artres/">@d.artres</a>, 
            <a href="https://www.instagram.com/gisele_araujoof/">@gisele_araujoof</a>, 
            <a href="https://www.instagram.com/matheussantosdri/">@matheussantosdri</a>, 
            <a href="https://www.instagram.com/miguel_marcondes_loureiro/">@miguel_marcondes_loureiro</a>, 
            <a href="https://www.instagram.com/sf_pedroh/">@sf_pedroh</a>
        </div></center> 
    </section>

</body>
</html>