<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HighTech | Todos podem</title>
    <link rel="shortcut icon" href="../img/logoGuia.png" type="image/x-icon">    
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/cssQuemSomos.css">
    

</head>
<body>
  <header>
    <a href="../../index.html"><img src="../img/logo.png" class="logo"></a>

    <nav class="nav-header">
        <ul>
            <li class="dropdown dropbtn">
                
                <div class="fitnessNav">Projeto</div>
                <div class="dropdown-content">
                    <a href="modelagemIntro.html">• Modelagem e Intro</a>
                    <a href="escopo.html">• Escopo</a>
                    <a href="analise.html">• Análise de requisitos <br> no ambiente de teste</a>
                </div>
            </li>
            <li class="dropdown dropbtn">
                
                <div class="fitnessNav">Pesquisas</div>
                <div class="dropdown-content">
                    <a href="desenhoUniversal.html">• Desenho Universal </a>
                    <a href="deficiencia.html">• Deficiência</a>
                    <a href="inclusao.html">• Inclusão </a>
                    <a href="acessibilidade.html">• Acessibilidade</a>
                    <a href="estudoDeViabilidade.html">• Estudo de viabilidade</a>
                    <a href="tecnologiasAssistivas.html">• Tecnologias Assistivas</a>

                </div>
            </li>
        
            <li id="menu-margem"><a href="quemsomos.html">Quem somos</a></li>
        </ul>
    </nav>
</header>
    <div class="faixa"></div>
    <main>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
        

      <div class="tituloDaAbaQuemSomos">
          Quem somos?
      </div>
    
<center>
        <div class="todos">
       
        
          <!-- BRENDA -->
          <div class="container noselect">
            <div class="canvas">
              <div class="tracker tr-1"></div>
              <div class="tracker tr-2"></div>
              <div class="tracker tr-3"></div>
              <div class="tracker tr-4"></div>
              <div class="tracker tr-5"></div>
              <div class="tracker tr-6"></div>
              <div class="tracker tr-7"></div>
              <div class="tracker tr-8"></div>
              <div class="tracker tr-9"></div>
              <div class="tracker tr-10"></div>
              <div class="tracker tr-11"></div>
              <div class="tracker tr-12"></div>
              <div class="tracker tr-13"></div>
              <div class="tracker tr-14"></div>
              <div class="tracker tr-15"></div>
              <div class="tracker tr-16"></div>
              <div class="tracker tr-17"></div>
              <div class="tracker tr-18"></div>
              <div class="tracker tr-19"></div>
              <div class="tracker tr-20"></div>
              <div class="tracker tr-21"></div>
              <div class="tracker tr-22"></div>
              <div class="tracker tr-23"></div>
              <div class="tracker tr-24"></div>
              <div class="tracker tr-25"></div>
              <div id="card">
                <img src="../img/brendaQuemSomos.png"  width="100%" class="quemSomosImageBrenda imageQuemSomos" />
                <div class="title">Responsável por: <br> 
                  Pesquisa, design e página acessibilidade.</div>

                
              </div>
            </div>
          </div>
  
  
        

        <!-- GISELE: -->
       
        <div class="container noselect">
          <div class="canvas">
            <div class="tracker tr-1"></div>
            <div class="tracker tr-2"></div>
            <div class="tracker tr-3"></div>
            <div class="tracker tr-4"></div>
            <div class="tracker tr-5"></div>
            <div class="tracker tr-6"></div>
            <div class="tracker tr-7"></div>
            <div class="tracker tr-8"></div>
            <div class="tracker tr-9"></div>
            <div class="tracker tr-10"></div>
            <div class="tracker tr-11"></div>
            <div class="tracker tr-12"></div>
            <div class="tracker tr-13"></div>
            <div class="tracker tr-14"></div>
            <div class="tracker tr-15"></div>
            <div class="tracker tr-16"></div>
            <div class="tracker tr-17"></div>
            <div class="tracker tr-18"></div>
            <div class="tracker tr-19"></div>
            <div class="tracker tr-20"></div>
            <div class="tracker tr-21"></div>
            <div class="tracker tr-22"></div>
            <div class="tracker tr-23"></div>
            <div class="tracker tr-24"></div>
            <div class="tracker tr-25"></div>
            <div id="card">
              <img src="../img/giseleQuemSomos.png"  width="100%" class="quemSomosImageGisele imageQuemSomos" />
              <div class="titleGisele">Responsável por:
              Pesquisa, página quem somos, viabilidade,
               e inclusão.</div>

              
            </div>
          </div>
        </div>


      
          <!-- MATHEUS -->
          <div class="container noselect">
            <div class="canvas">
              <div class="tracker tr-1"></div>
              <div class="tracker tr-2"></div>
              <div class="tracker tr-3"></div>
              <div class="tracker tr-4"></div>
              <div class="tracker tr-5"></div>
              <div class="tracker tr-6"></div>
              <div class="tracker tr-7"></div>
              <div class="tracker tr-8"></div>
              <div class="tracker tr-9"></div>
              <div class="tracker tr-10"></div>
              <div class="tracker tr-11"></div>
              <div class="tracker tr-12"></div>
              <div class="tracker tr-13"></div>
              <div class="tracker tr-14"></div>
              <div class="tracker tr-15"></div>
              <div class="tracker tr-16"></div>
              <div class="tracker tr-17"></div>
              <div class="tracker tr-18"></div>
              <div class="tracker tr-19"></div>
              <div class="tracker tr-20"></div>
              <div class="tracker tr-21"></div>
              <div class="tracker tr-22"></div>
              <div class="tracker tr-23"></div>
              <div class="tracker tr-24"></div>
              <div class="tracker tr-25"></div>
              <div id="card">
                <img src="../img/matheusQuemSomos.png"  width="100%" class="quemSomosImageMatheus imageQuemSomos" />
                <div class="title">Responsável por: 
                  Pesquisa, página quem somos, viabilidade,
                   e inclusão.</div>
              </div>
            </div>
          </div>
        
  
  
        
          <!-- MIGUEL -->
          <div class="container noselect">
            <div class="canvas">
              <div class="tracker tr-1"></div>
              <div class="tracker tr-2"></div>
              <div class="tracker tr-3"></div>
              <div class="tracker tr-4"></div>
              <div class="tracker tr-5"></div>
              <div class="tracker tr-6"></div>
              <div class="tracker tr-7"></div>
              <div class="tracker tr-8"></div>
              <div class="tracker tr-9"></div>
              <div class="tracker tr-10"></div>
              <div class="tracker tr-11"></div>
              <div class="tracker tr-12"></div>
              <div class="tracker tr-13"></div>
              <div class="tracker tr-14"></div>
              <div class="tracker tr-15"></div>
              <div class="tracker tr-16"></div>
              <div class="tracker tr-17"></div>
              <div class="tracker tr-18"></div>
              <div class="tracker tr-19"></div>
              <div class="tracker tr-20"></div>
              <div class="tracker tr-21"></div>
              <div class="tracker tr-22"></div>
              <div class="tracker tr-23"></div>
              <div class="tracker tr-24"></div>
              <div class="tracker tr-25"></div>
              <div id="card">
                <img src="../img/miguelQuemSomos.png"  width="100%" class="quemSomosImageMiguel imageQuemSomos" />
                <div class="titleMiguel">Responsável por: <br> 
                  Pesquisa, design, página index, deficiência e
                  desenho universal.</div>
              </div>
            </div>
          </div>
  
  
          
          <!-- PEDRO -->
          <div class="container noselect">
            <div class="canvas">
              <div class="tracker tr-1"></div>
              <div class="tracker tr-2"></div>
              <div class="tracker tr-3"></div>
              <div class="tracker tr-4"></div>
              <div class="tracker tr-5"></div>
              <div class="tracker tr-6"></div>
              <div class="tracker tr-7"></div>
              <div class="tracker tr-8"></div>
              <div class="tracker tr-9"></div>
              <div class="tracker tr-10"></div>
              <div class="tracker tr-11"></div>
              <div class="tracker tr-12"></div>
              <div class="tracker tr-13"></div>
              <div class="tracker tr-14"></div>
              <div class="tracker tr-15"></div>
              <div class="tracker tr-16"></div>
              <div class="tracker tr-17"></div>
              <div class="tracker tr-18"></div>
              <div class="tracker tr-19"></div>
              <div class="tracker tr-20"></div>
              <div class="tracker tr-21"></div>
              <div class="tracker tr-22"></div>
              <div class="tracker tr-23"></div>
              <div class="tracker tr-24"></div>
              <div class="tracker tr-25"></div>
              <div id="card">
                <img src="../img/pedroQuemSomos.png"  width="150%" class="quemSomosImagePedro imageQuemSomos" />
                <div class="titlePedro">Responsável por: <br> 
                  Pesquisa, design e página acessibilidade.</div>
              
            </div>
          </div>
        </div>
      </div>
    </center>
          
    </main>
    <footer>
        <p> Todos os direitos reservados a HighTech ©</p>
    </footer>

    <section class="arrobasInstas">
       <center><div> 
            <a href="https://www.instagram.com/d.artres/">@d.artres</a>, 
            <a href="https://www.instagram.com/gisele_araujoof/">@gisele_araujoof</a>, 
            <a href="https://www.instagram.com/matheussantosdri/">@matheussantosdri</a>, 
            <a href="https://www.instagram.com/miguel_marcondes_loureiro/">@miguel_marcondes_loureiro</a>, 
            <a href="https://www.instagram.com/sf_pedroh/">@sf_pedroh</a>
        </div></center> 
    </section>

</body>
</html>