<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HighTech | Todos podem</title>
  <link rel="shortcut icon" type="image/png" href="../img/logoIconeSite.png">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/cssQuemSomos.css">
  <script defer src="../nav/header.js"></script>
  <link rel="stylesheet" href="../nav/header.css">
  <link rel="stylesheet" href="../css/funcaoAcessibilidade.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tota11y/0.1.6/tota11y.min.js"></script>
  <script src="../js/funcoesAcessibilidade.js"></script>
</head>

<body>

  <button class="accessibility-btn" onclick="toggleAccessibilityMenu()">
    <img src="../img/iconFuncoesAcessibilidade.png" width="30px" height="30px">
  </button>

  <div id="accessibility-menu" style="display: none;">
    <button onclick="increaseTextSize()">Aumentar Texto</button>
    <button onclick="decreaseTextSize()">Diminuir Texto</button>
    <button onclick="toggleContrast()">Alto Contraste</button>
    <button onclick="toggleGrayscale()">Escala de Cinza</button>
    <button onclick="increaseLineSpacing()">Aumentar Espaçamento de Linhas</button>
    <button onclick="decreaseLineSpacing()">Diminuir Espaçamento de Linhas</button>
    <button onclick="resetAccessibility()">Redefinir</button>
  </div>

  <main-header base-url="./" base-nav="../../" base-img="../"></main-header>

  <main>
    <div class="tituloDaAbaQuemSomos">
      Quem somos?
    </div>

    <center>
      <ul class="quem-somos-lista">
        <li>
          <img src="../img/brendaQuemSomos.png" alt="Brenda" width="100px">
          <strong>Brenda</strong> - Pesquisa, design e página de acessibilidade.
        </li>
        <li>
          <img src="../img/giseleQuemSomos.png" alt="Gisele" width="100px">
          <strong>Gisele</strong> - Pesquisa, página quem somos, viabilidade e inclusão.
        </li>
        <li>
          <img src="../img/matheusQuemSomos.png" alt="Matheus" width="100px">
          <strong>Matheus</strong> - Pesquisa, página quem somos, viabilidade e inclusão.
        </li>
        <li>
          <img src="../img/miguelQuemSomos.png" alt="Miguel" width="100px">
          <strong>Miguel</strong> - Pesquisa, design, acessibilidade, padronização, página index, deficiência e desenho universal.
        </li>
        <li>
          <img src="../img/pedroQuemSomos.png" alt="Pedro" width="100px">
          <strong>Pedro</strong> - Pesquisa, design e página de acessibilidade.
        </li>
      </ul>
    </center>
  </main>

  <footer>
    <p> Todos os direitos reservados a HighTech ©</p>
  </footer>

  <section class="arrobasInstas">
    <center>
      <div>
        <a href="https://www.instagram.com/d.artres/">@d.artres</a>,
        <a href="https://www.instagram.com/gisele_araujoof/">@gisele_araujoof</a>,
        <a href="https://www.instagram.com/matheussantosdri/">@matheussantosdri</a>,
        <a href="https://www.instagram.com/miguel_marcondes_loureiro/">@miguel_marcondes_loureiro</a>,
        <a href="https://www.instagram.com/sf_pedroh/">@sf_pedroh</a>
      </div>
    </center>
  </section>

</body>

</html>
