<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HighTech | Todos podem</title>
    <link rel="shortcut icon" href="../img/logoGuia.png" type="image/x-icon">    
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <a href="../../index.html"><img src="../img/logo.png" class="logo"></a>
    
        <nav class="nav-header">
            <ul>
                <li class="dropdown dropbtn">
                    
                    <div class="fitnessNav">Projeto</div>
                    <div class="dropdown-content">
                        <a href="modelagemIntro.html">• Modelagem e Intro</a>
                        <a href="diagramas.html">• UML Diagramas</a>
                        <a href="escopo.html">• Escopo</a>
                        <a href="#ciclo">-> Ciclo de Vida</a>
                        <a href="#eap">-> EAP</a>
                        <a href="#crono">-> Cronograma</a>
                        <a href="#matriz">-> Matriz</a>
                        <a href="analise.html">• Análise de requisitos <br> no ambiente de teste</a>
                    </div>
                </li>
                <li class="dropdown dropbtn">
                    
                    <div class="fitnessNav">Pesquisas</div>
                    <div class="dropdown-content">
                        <a href="desenhoUniversal.html">• Desenho Universal </a>
                        <a href="deficiencia.html">• Deficiência</a>
                        <a href="inclusao.html">• Inclusão </a>
                        <a href="acessibilidade.html">• Acessibilidade</a>
                        <a href="estudoDeViabilidade.html">• Estudo de viabilidade</a>
                        <a href="tecnologiasAssistivas.html">• Tecnologias Assistivas</a>
                        <a href="w3c.html">• W3C</a>
                    </div>
                </li>
            
                <li id="menu-margem"><a href="quemsomos.html">Quem somos</a></li>
            </ul>
        </nav>
    </header>
    <div class="faixa"></div>
    <main>
        
        <div class="paginasPesquisa">
            <div class="tituloDaAba">
                Pesquisas W3C
        </div>
        <br><br><br>
                         
            <div class="caixaDeTexto">
                
            <h3>
                O que é a W3C:
            </h3><br>
            <a name="w3c">     O W3C (World Wide Web Consortium) é uma organização que publica documentos que definem as tecnologias da Web. Esses documentos seguem um processo projetado para promover consenso, justiça, responsabilidade pública e qualidade. No final desse processo, o W3C publica Recomendações, que são consideradas padrões da Web.
            Os padrões da Web são os blocos de construção da Web.<br>
                 Eles são os projetos de como implementar navegadores, blogs, editores gráficos, mecanismos de busca e muitos outros softwares que potencializam nossa experiência na Web. Eles permitem que os desenvolvedores criem experiências interativas ricas que podem estar disponíveis em qualquer dispositivo. 
            <br><br><br> </a>  

            <h3>
                Desenvolvimento de padrões:
            </h3><br>
            <a name="">     O W3C publica recomendações que são consideradas padrões da web. O W3C desenvolve especificações técnicas de acordo com o Processo W3C, que é projetado para maximizar o consenso, garantir qualidade, obter endosso e adoção pelos Membros do W3C e pela comunidade em geral. O processo comprovado de padrões da web do W3C é baseado em justiça, abertura, isenção de royalties e fazemos a web funcionar para todos.
            <br><br><br> </a>   
            
            <h3>
                Interoperabilidade
            </h3><br>
            <a name="">     A interoperabilidade é a intersecção de recursos entre dois ou mais pares comunicantes: ou seja, a interoperabilidade não exige conhecimento completo sobre os recursos uns dos outros, nem que os pares não possam descobrir quais recursos eles têm em comum dinamicamente. Os padrões web do W3C são otimizados para interoperabilidade, segurança, privacidade, acessibilidade web e internacionalização.
            <br><br><br> </a>
            
            <h3>
                Acessibilidade:
            </h3><br>
            <a name="w3c">     As Diretrizes de Acessibilidade de Conteúdo da Web (WCAG) 2.1 abrangem uma ampla gama de recomendações para tornar o conteúdo da Web mais acessível. Seguir essas diretrizes tornará o conteúdo mais acessível a uma gama maior de pessoas com deficiências, incluindo acomodações para cegueira e baixa visão, surdez e perda auditiva, movimento limitado, deficiências de fala, fotos sensibilidade e combinações destes, e algumas acomodações para deficiências de aprendizagem e limitações cognitivas; mas não atenderá a todas as necessidades do usuário para pessoas com essas deficiências. Essas diretrizes abordam a acessibilidade do conteúdo da Web em desktops, laptops, tablets e dispositivos móveis. Seguir essas diretrizes também tornará o conteúdo da Web mais utilizável para os usuários em geral.
                A acessibilidade na Web depende não só do conteúdo acessível, como também de navegadores web acessíveis e outros agentes de usuário. Ferramentas de autoria também desempenham um papel importante para a acessibilidade na Web.                
            <br><br><br> </a>  

            <h3>
                Inovação:
            </h3><br>
            <a name="">     A abertura e flexibilidade da Web cria novos desafios tanto para publicadores quanto para consumidores de dados, tais como representar, descrever e disponibilizar dados de maneira compreensível e fácil de encontrar. Diferentemente de bases de dados convencionais, por exemplo, em que há um único modelo de dados para representá-las e um sistema de gerenciamento de base de dados (do inglês data base management system, DBMS) para controlar o acesso aos mesmos, os dados na Web permitem a existência de múltiplas formas de representação e acesso aos dados. Neste contexto torna-se fundamental prover diretrizes aos publicadores para que o gerenciamento de dados seja mais consistente. Tais orientações ajudam a promover a reutilização dos dados e a fortalecer a confiança nos dados entre os desenvolvedores - seja qual for a tecnologia que estes escolham - incrementando o potencial para inovações genuínas.
            <br><br><br> </a>   
            
            <h3>
                Consenso e Colaboração:
            </h3><br>
            <a name="">     As pessoas e organizações que utilizam as WCAG são diversas e incluem programadores e web designers, legisladores, responsáveis pelas compras, professores e alunos. Para corresponder às várias necessidades deste público, são fornecidas diversas camadas de orientação, incluindo princípios globais, diretrizes gerais, critérios de sucesso testáveis, um rico conjunto de técnicas de tipo necessárias e de tipo sugeridas, bem como falhas comuns documentadas com exemplos, links para recursos e código fonte. Princípios - No topo estão quatro princípios que constituem a base da acessibilidade na Web: perceptível, operável, compreensível e robusto.
            <br><br><br> </a>

    
            <h3>
                Linguagens de programação: (HTML, CSS, JS)
            </h3><br>
            <a name="">              <h2>Diretrizes do W3C para HTML</h2>

                <h3>1. Estrutura Semântica</h3>
                <ul>
                    <li>Uso de tags semânticas: O W3C recomenda o uso de tags HTML que descrevem corretamente o conteúdo, como &lt;header&gt;, &lt;nav&gt;, &lt;article&gt;, &lt;section&gt;, e &lt;footer&gt;. Isso melhora a acessibilidade e a otimização para mecanismos de busca (SEO).</li>
                    <br>
                    <li>Separação de conteúdo e apresentação: O HTML deve ser usado para estruturar o conteúdo, enquanto o CSS deve ser utilizado para estilizar a apresentação.</li>
                </ul>
        
                <h3>2. Acessibilidade</h3>
                <ul>
                    <li>Compatibilidade com tecnologias assistivas: As páginas devem ser projetadas de forma que possam ser interpretadas por leitores de tela e outros dispositivos assistivos. Isso inclui o uso de <code>alt</code> em imagens, rótulos (<code>label</code>) em formulários e navegação por teclado.</li>
                    <br>
                    <li>Uso de ARIA (Accessible Rich Internet Applications): A inclusão de atributos ARIA no HTML ajuda a melhorar a acessibilidade em componentes dinâmicos e interativos.</li>
                </ul>
        
                <h3>3. Validação</h3>
                <ul>
                    <li>Documentos bem formados: O código HTML deve ser validado para garantir que segue as especificações do W3C, o que inclui a correta aninhamento de tags, fechamento de tags não-automáticas e a ausência de erros sintáticos.</li>
                    <br>
                    <li>DTD (Document Type Definition): O uso de uma DTD adequada, como &lt;!DOCTYPE html&gt;, define a versão do HTML e ajuda os navegadores a renderizar o conteúdo corretamente.</li>
                </ul>
        
                <h3>4. Responsividade</h3>
                <ul>
                    <li>Design responsivo: As páginas devem ser projetadas para serem acessíveis em diferentes dispositivos e tamanhos de tela, utilizando CSS media queries e layouts flexíveis.</li>
                    <br>
                    <li>Viewport meta tag: O uso da tag &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt; é recomendado para garantir que a página se ajuste corretamente em dispositivos móveis.</li>
                </ul>
        
                <h3>5. Interoperabilidade</h3>
                <ul>
                    <li>Compatibilidade entre navegadores: O HTML deve ser escrito para funcionar corretamente em todos os principais navegadores. Isso inclui evitar o uso de código ou funcionalidades que sejam específicas de um único navegador.</li>
                    <br>
                    <li>Fallbacks e progressiva melhoria: Quando utilizar funcionalidades novas ou avançadas, é importante fornecer alternativas (fallbacks) para navegadores mais antigos.</li>
                </ul>
        
                <h3>6. Desempenho</h3>
                <ul>
                    <li>Minificação e otimização de recursos: É recomendado minimizar o tamanho dos arquivos HTML, CSS e JavaScript, bem como otimizar imagens para garantir um carregamento mais rápido.</li>
                    <br>
                    <li>Lazy loading e pré-carregamento: Técnicas como o lazy loading (carregamento sob demanda) de imagens e vídeos, e o pré-carregamento de recursos críticos, ajudam a melhorar o desempenho da página.</li>
                </ul>
        
                <h2>Diretrizes do W3C para CSS</h2>
        
                <h3>1. Acessibilidade</h3>
                <ul>
                    <li>Cores e Contraste: Garantir contraste suficiente entre texto e fundo, conforme as diretrizes WCAG 2.1.</li>
                    <br>
                    <li>Flexibilidade do Texto: Usar unidades relativas para permitir o redimensionamento do texto.</li>
                    <br>
                    <li>Foco Visível: Elementos interativos devem ter um foco visível para navegação por teclado.</li>
                </ul>
        
                <h3>2. Responsividade</h3>
                <ul>
                    <li>Layouts Flexíveis: Utilizar unidades flexíveis como <code>flex</code> e <code>grid</code> para adaptar o layout a diferentes tamanhos de tela.</li>
                    <br>
                    <li>Media Queries: Aplicar estilos diferentes para dispositivos variados.</li>
                </ul>
        
                <h3>3. Compatibilidade Cross-Browser</h3>
                <ul>
                    <li>Prefixos de Navegador: Usar prefixos para propriedades experimentais ou não padronizadas para garantir compatibilidade.</li>
                </ul>
        
                <h3>4. Boas Práticas de Desempenho</h3>
                <ul>
                    <li>Minificação e Consolidação: Reduzir e combinar arquivos CSS para melhorar o tempo de carregamento.</li>
                    <br>
                    <li>Seletores Eficientes: Otimizar seletores para evitar impacto no desempenho.</li>
                </ul>
        
                <h3>5. Usabilidade e Consistência</h3>
                <ul>
                    <li>Estilos Consistentes: Garantir uma experiência de usuário uniforme em todo o site.</li>
                    <br>
                    <li>Feedback Visual: Fornecer feedback visual claro em elementos interativos.</li>
                </ul>
        
                <h3>6. Internacionalização</h3>
                <ul>
                    <li>Adaptar o CSS para diferentes idiomas e culturas: Incluindo suporte para leitura RTL.</li>
                </ul>
        
                <h3>7. Manutenção e Reutilização</h3>
                <ul>
                    <li>Modularidade: Dividir o CSS em arquivos modulares para facilitar a manutenção.</li>
                    <br>
                    <li>Comentários e Documentação: Documentar o código para facilitar a compreensão e manutenção.</li>
                </ul>
        
                <h2>Diretrizes do W3C para JavaScript</h2>
        
                <h3>1. Conformidade com ECMAScript</h3>
                <ul>
                    <li>Versão do ECMAScript: Seguir a versão atual do ECMAScript (ES6/ES2015 e posteriores) é crucial para garantir que o código JavaScript seja moderno e compatível com os padrões mais recentes.</li>
                    <br>
                    <li>Uso de Recursos Modernos: Adotar recursos modernos, como <code>let</code>, <code>const</code>, arrow functions e classes, melhora a clareza e a eficiência do código.</li>
                </ul>
        
                <h3>2. Segurança</h3>
                <ul>
                    <li>Prevenção de Ataques: Implementar medidas para proteger contra ataques comuns, como Cross-Site Scripting (XSS) e Cross-Site Request Forgery (CSRF), é essencial para a segurança.</li>
                    <br>
                    <li>Validação e Sanitização de Dados: Garantir que todos os dados de entrada sejam validados e sanitizados para evitar a execução de código malicioso.</li>
                </ul>
        
                <h3>3. Compatibilidade entre Navegadores</h3>
                <ul>
                    <li>Polyfills e Transpilers: Utilizar ferramentas como Babel para transpilar código moderno para versões mais antigas do ECMAScript, garantindo compatibilidade com navegadores mais antigos.</li>
                    <br>
                    <li>Testes Cruzados: Testar o código em diferentes navegadores e dispositivos para identificar e corrigir problemas de compatibilidade.</li>
                </ul>
        
            
<h4>Referências</h4><br>
  -w3c.org


        </div>
        </div>

    </main>
    <footer>
        <p> Todos os direitos reservados a HighTech ©</p>
    </footer>

    <section class="arrobasInstas">
       <center><div> 
            <a href="https://www.instagram.com/d.artres/">@d.artres</a>, 
            <a href="https://www.instagram.com/gisele_araujoof/">@gisele_araujoof</a>, 
            <a href="https://www.instagram.com/matheussantosdri/">@matheussantosdri</a>, 
            <a href="https://www.instagram.com/miguel_marcondes_loureiro/">@miguel_marcondes_loureiro</a>, 
            <a href="https://www.instagram.com/sf_pedroh/">@sf_pedroh</a>
        </div></center> 
    </section>

</body>
</html>