* {
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
    --cor-fundo: #fff7f7;
    --cor-verde-claro: #9AE4C3;  
    --cor-verde-escuro: #058177;
    --cor-rosa: #E96EA9;
    --cor-rosa-escuro: #E23D8C;
    --cor-rosa-claro: #FDAEC9;
    --cor-letra: #E96EA9;

    --font-padrao: 'Raleway', Arial, sans-serif;
}

.posicaoCards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardColor {
    display: flex;
    width: 280px;
    height: 400px;
    border-radius: 20px;
    transition: all .3s;
    margin: 0 2%;
}

.cardColor .card2 {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 15px;
    transition: all .2s;
    box-shadow: 7px 7px 9px -4px #bababa;
}

.cardColor:hover .card2 {
    transform: scale(0.98);
    border-radius: 20px;
    box-shadow: none;
}

.card2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card2 > img {
    width: 80%;
    height: 210px; 
    padding: 10px;
    margin-top: 7px;
}

.card2 > h2 {
    text-align: center;
    margin-bottom: 20px;
}

.botaoSaibaMais {
    padding: 10px 30px;
    border-radius: 15px; 
    color: white;
    text-decoration: none; 
    transition: all 0.3s ease; 
    cursor: pointer; 
    font-weight: bold; 
    

}

.botaoSaibaMais:hover {
    text-decoration: none;
    transform: scale(1.1);
}
footer {
    padding: 8px;
    text-align: center;
    background-color: #7dd5b3;
    color: #ffffff;
    font-weight: 450;
    text-shadow: 0.1em 0.1em 0.1em rgb(68, 65, 65);
}
