
nav img {
    width: 20px;
    height: 20px;
    
}

nav > ul > li > p {
    margin-left: 100px;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 8px;
}

nav li {
    margin: 8px 15px;
}

nav li > a {
    color: var(--cor-nav-li);
    font-size: 20px;
    text-decoration: none;
    position: relative;
}

header nav li > a::after {
    content: " ";
    width: 0;
    height: 1px;
    position: absolute;
    top: 25px;
    left: 0;
    background-color: var(--cor-nav-link);
    transition: 300ms ease-in-out;
}

header nav li > a:hover::after {
    width: 100%;
}

nav a.inicio {
    padding: 10px 22px;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: white;
    transition: 250ms ease-out;
}

nav a.inicio::after {
    display: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 10px;
    color: var(--cor-rosa);
    font-weight: 500;    
    margin-right: 20px;
}

.faixa {
    height: 35px;
    width: 100%;
    background-color: #9ae4c3;
}

header img {
    width: 140px;
    margin-left: 20%;
    margin-top: 3%;
    
}